# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
sistema-remoto/node_modules
sistema-remoto/.pnp
sistema-remoto/.pnp.js

# testing
coverage

# production
sistema-remoto/build

# misc
sistema-remoto/.DS_Store
sistema-remoto/.env.local
sistema-remoto/.env.development.local
sistema-remoto/.env.test.local
sistema-remoto/.env.production.local

# logs
sistema-remoto/npm-debug.log*
sistema-remoto/yarn-debug.log*
sistema-remoto/yarn-error.log*
sistema-remoto/package-lock.json
