.sc-btn-search {
  margin-top: -7px !important;
  max-width: 125px !important;
  padding-left: 0 !important;
}

.sc-search {
  width: 100% !important;
  margin: 5px !important;
}

.page-content {
  display: inline-block !important;
  width: 100% !important;
  /*overflow-x: hidden;*/
  padding: 0.5% !important;
}

.sc-search-input{
  padding: 0 !important;
}

.btn-search {
  width: 100% !important;
  margin-left: 5px;
}

.div-cards {
  width: 100% !important;
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.ir-toggle-btn {
  margin-right: 10px !important;
  max-width: 10px !important;
}

.header-big{
  padding: 15px !important;
}